.rose{
  color: #c52747;
}

#hero{
  background-image: url('../images/hero.jpg');
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 7%;
  h1{
    font-size: 4rem;
  }
  
}

#newsletter{
  background-image: url('../images/bg-newsletter.jpg');
  background-size: cover;
}