// XXXXXXXXX Couleur de texte XXXXXXXXXXX //

$textColor1 : #1c1c1c; // prochain live  +  titre prochain live
$textColor2 : #3b3b3b; // dans 3h  +  profession auteur
$textColor3 : #181a1a; // auteur
$textColor4 : #151c21; // lives a venir
$textColor5 : #5e5e5e; // button group  +  contenu carte
$textColor6 : #514bab; // date webinaire
$textColor7 : #010300; // titre carte
$textColor8 : #333333; // vous avez raté un webinaire  +   contenu description(en bas)
$textColor9 : #c52747; // 1er titre
$textColor10 : #b0233f; // onlive replay    + aucun LIVE
$textColor11 : #c6d4de; // description newsletter
$textColor12 : #95a4ae; // placeholder newsletter
$textColor13 : #050505; // Onlive dans description
$textColor14 : #212121; // contenu footer
$textColor15 : #000; //  titres footer
$textColor16 : #3b3a3a; //  contenu prochain live
$textColor17 : #959595;
$textColorNav : #665fce;
$textColorSearch : #707070;

$colorPastille : #d81136;
$borderSection : #b0233f;

$bgFooter : #070707;
$bgInput : #1d262c;
$bgSearch :#e6e8ea;
